body {
  color: #333;
/*padding: 20px;*/
  font-family: Arial;
  text-align: center;
}

/* 1st Row */

.separator {
  margin-top: 40px;
}

.separator-lower {
  height: 120px;
}

.twitter {
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  background: #00ACED;
  display: inline-block;
  padding: 10px 8px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* 3D Cube */

/* present in style.css media queries */

/* 3D Cube */

/* 2nd Row start */

.left_line {
  width:400px;
  height: 500px;
  margin: 0px;
  float: left;
  border-right: 2px solid black;
}

.guy_coding {
  width: 600px;
  height: 1px;
  margin:0 auto;
}

.guy_coding_img {
  position: fixed;
}

.right_line {
  width:400px;
  height: 500px;
  margin: 0px;
  float: right;
  border-left: 2px solid black;
}